@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

body {
	font-family: 'Quicksand', sans-serif;
	background-color: #171a1f;
	font-weight: 400;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

.send:before {
	content: '\f1d8';
	font-family: 'FontAwesome';
	margin-right: 4px;
	vertical-align: inherit;
}